<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> my reads </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script defer src="/alpine.min.js"></script>
  </head>
  <body class="px-2 bg-white md:px-10 lg:px-28 xl:px-36">
  {% include "nav.njk" %}
  <main> {{ content | safe }} </main>
  <footer class="p-12 text-xs text-center text-gray-600">
    📚 <br> {{ buildDate }}</footer>
  </body>
</html>
