<nav class="bg-white">
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="text-2xl whitespace-nowrap">
        <span class="font-light">my</span><span class="font-semibold">reads</span>
      </div>
      <div class="flex text-xs lg:text-base lg:space-x-4">
            <a href="#" class="px-2 py-2 font-medium text-white bg-gray-900 rounded-md" aria-current="page">books</a>
            <a href="#" class="px-2 py-2 font-medium text-gray-800 rounded-md hover:bg-gray-700 hover:text-white">comics</a>
            <a href="#" class="px-2 py-2 font-medium text-gray-800 rounded-md hover:bg-gray-700 hover:text-white">stats</a>
            <a href="#" class="px-2 py-2 font-medium text-gray-800 rounded-md hover:bg-gray-700 hover:text-white">covers</a>
      </div>
      </div>
      </div>
</nav>
